* {
	margin: 0;

}

body {
	text-align: center;
	width: 100%;
}

a {
	text-decoration: none;
	color: #666;
}

nav {
	text-align: right;
}

nav li{
	list-style: none;
	display: inline-block;
	margin: 5px;
}

.container {
	margin-top: 50px;
}

.bar {
	width: 40%;
	height: 25px;
	margin-bottom: 20px;
}

.logo {
	display: block;
	margin: auto;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f2f2f2;
}

.ad li {
	list-style: none;
	display: inline;
	float: left;
	margin: 5px 15px;
}

.privacy li {
	list-style: none;
	display: inline;
	float: right;
	margin: 5px 15px;
}
