* {
	margin: 0;

}

body {
	text-align: center;
	width: 100%;
}

a {

}

nav {
	text-align: right;
}

nav li{
	list-style: none;
	display: inline-block;
	margin: 5px;
}

.logo {
	display: block;
	margin: auto;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f2f2f2;
}

.ad li {
	list-style: none;
	display: inline;
	float: left;
	margin: 5px;
}

.privacy li {
	list-style: none;
	display: inline;
	float: right;
	margin: 5px;
}
